.body {
  padding: 0 16px;

  ion-col {
    display: flex;
    flex-direction: column;

    ion-label {
    }

    input {
      margin-top: 8px;
      border-radius: 30px;
      background-color: white;
      padding: 2px 6px;
      border: 1px solid #999;
      font-size: 16px;
      width: 100%;
      height: 30px;
      box-sizing: border-box;
    }
  }
}

.table {
  padding: 24px;
  table {
    width: 100%;
    th {
      height: 30px;
      background-color: var(--ion-color-primary);
      border: solid 1px #999;
      width: 50%;
    }
    td {
      border: solid 1px #999;
      height: 30px;
      input {
        border: none;
        background-color: white;
        padding: 2px 6px;
        font-size: 16px;
        width: 100%;
        touch-action: none;
      }
    }
  }
}

.addRow {
  display: flex;
  justify-content: flex-end;
  margin-right: 4px;

  ion-icon {
    font-size: 24px;
  }
}

ion-footer {
  .btn {
    display: flex;
    justify-content: center;
  }
}
